@import "mixins";

$color-base: #1F1F1F;
$color-accent: #D32929;

body {
  background: #fff;
  color: $color-base;
  font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 15px;
}

*::selection {
  background-color: $color-accent;
  color: #fff;
}

a::selection {
  text-decoration: underline;
}

a {
  color: $color-base;
}

.mCont {
  margin: 0 auto;
  max-width: 900px;
  // min-width: 600px;
}

header {
  padding: 120px 0 90px;

  h1 {
    font-weight: 600;
    font-size: 70px;
    letter-spacing: -1px;
    width: 400px;

    a:hover {
      text-decoration: none;
    }
  }

  .mCont {
    padding: 0 100px;

    @media (max-width: 667px) {
      padding: 0 0 0 20px;
    }
  }
}

#featured-post {
  header {
    padding: 80px 0 40px;

    h1 {
      font-size: 34px;
      width: 200px;
    }

    .mCont {
      padding: 0 0;
      display: grid;
      grid-template-columns: 200px minmax(350px, auto);
    }
  }
}

#author-info {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  margin-top: 20px;

  .imageCont {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    height: 50px;
    width: 50px;

    img {
       filter: contrast(0.9);
       display: block;
    }

    &::after {
      content: "";
      display: block;
      background: $color-accent;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 0;
      left: 0;
      mix-blend-mode: darken;
    }
  }

  svg {
    stroke: $color-base;
    width: 20px;

    &:hover {
      stroke: $color-accent;
    }
  }

  span {
    margin: 0 10px 0 20px;
  }

  a {
    margin-left: 12px;
    position: relative;
  }

  .tumblr {
    margin-left: 8px;
  }
} // #author-info

#featured-post {
  #author-info {
    margin-top: 0;

    .imageCont,
    .imageCont img {
      height: 35px;
      width: 35px;
    }
  }
}

#main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background: $color-base;
  height: 50px;

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
  }

  li {
    margin-right: 20px;
  }

  a {
    color: #fff;
    display: block;
    font-weight: 500;
    font-size: 14px;
  }
} // #main-nav

#entries {
  .entry {
    display: grid;
    grid-template-columns: minmax(250px, 350px) minmax(350px, auto);
    grid-column-gap: 30px;
    margin-bottom: 55px;

    @media (max-width: 667px) {
      grid-template-columns: none;
      grid-column-gap: 0;
    }

    img {
      max-width: 100%;
      display: block;
    }

    .details {
      border-bottom: solid 1px rgba(#000, 0.05);

      @media (max-width: 667px) {
        padding: 15px 15px 0;
      }

      h3 {
        font-family: "Noto Serif";
        font-weight: 700;
        font-size: 28px;
      }

      p {
        line-height: 24px;
        margin-top: 10px;
      }
    } // .details

    .meta {
      display: flex;
      font-size: 12px;
      margin: 30px 0;

      a {
        color: $color-accent;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      li {
        margin-right: 10px;
        color: rgba($color-base, 0.3);

        &:last-child::before {
          content: "•";
          margin: 0 10px 0 5px;
        }
      }
    } // .meta

    &:first-child {
      grid-template-columns: minmax(350px, auto) minmax(230px, 430px);
      margin-bottom: 85px;

      @media (max-width: 667px) {
        grid-template-columns: none;
        grid-column-gap: 0;
      }

      h3 {
        text-align: center;
        font-size: 38px;
        line-height: 45px;

        a {
          background: linear-gradient(to bottom,
          rgba(#fff, 0) 0%,
          rgba(#fff, 0) 70%,
          rgba($color-accent, 0.7) 70%,
          rgba($color-accent, 0.7) 86%,
          rgba(#fff, 0) 86%,
          rgba(#fff, 0) 100%);

          &:hover {
            text-decoration: none;
          }
        }
      }

      img {
        max-width: 100%;
        grid-column: 2 / 2;

        @media (max-width: 667px) {
          max-width: 100%;
          grid-column: auto;
        }
      }

      .details {
        border-top: solid 1px rgba(#000, 0.05);
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 667px) {
          max-width: 100%;
          grid-column: auto;
          grid-row: auto;
        }

        p {
          text-align: center;
          margin: 30px 0 0;
        }
      }

      .meta {
        justify-content: center;
      }
    }
  } // .entry
} // #entries

#author {
  border-top: solid 1px rgba(#000, 0.05);
  padding-top: 40px;
  margin-top: 40px;

  .card {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 20px;

    .imageCont {
      position: relative;
      overflow: hidden;
      border-radius: 100px;
      height: 100px;
      width: 100px;

      img {
         filter: contrast(0.9);
         display: block;
      }

      &::after {
        content: "";
        display: block;
        background: $color-accent;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        mix-blend-mode: darken;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 15px;
    }

    p {
      line-height: 22px;
      font-size: 14px;
    }
  }
}

#read-next {
  display: grid;
  grid-template-columns: minmax(calc(50% - 30px), auto) minmax(calc(50% - 30px), auto);
  grid-column-gap: 60px;
  border-top: solid 1px rgba(#000, 0.05);
  padding-top: 60px;
  margin-top: 60px;

  @media (max-width: 667px) {
    grid-template-columns: minmax(calc(50% - 15px), auto) minmax(calc(50% - 15px), auto);
    grid-column-gap: 30px;
  }

  .entry {
    img {
      width: 100%;
      display: block;
    }

    .details {
      h3 {
        font-family: "Noto Serif";
        font-weight: 700;
        font-size: 18px;
        margin-top: 10px;
      }

      p {
        line-height: 22px;
        margin-top: 10px;
        font-size: 13px;
      }
    } // .details

    .meta {
      display: none;
    } // .meta
  } // .entry
} // #read-next

#single-entry {
  padding: 0 100px;
  position: relative;

  @media (max-width: 667px) {
    padding: 0 15px;
  }

  &::before {
    content: "";
    border-top: solid 1px rgba(#000, 0.05);
    width: 440px;
    margin: 0 auto;
    display: block;
  }

  h2.postTitle {
    text-align: center;
    font-size: 38px;
    line-height: 45px;
    font-family: "Noto Serif";
    font-weight: 700;
    margin: 60px 0 40px;
  }

  .featuredPostImage {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    top: -1px;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .postContent {
    .featureImage {
      float: right;
      max-width: 350px;
      position: relative;
      left: 30px;

      &.aboutMe {
        margin-top: -130px;
      }

      @media (max-width: 667px) {
        float: none;
        left: 0;
        max-width: 100%;
        margin-bottom: 20px;
        margin-top: 0;
      }
    }

    h2, h3 {
      text-align: left;
      font-family: "Noto Serif";
      font-weight: 700;
    }

    h2 {
      font-size: 26px;
      margin: 40px 0 20px;
    }

    h3 {
      font-size: 20px;
      margin: 40px 0 20px;
    }

    p,
    blockquote {
      font-family: "Noto Serif";
      line-height: 26px;
      margin-bottom: 20px;
    }

    strong, b {
      font-weight: bold;
    }

    em, i {
      font-style: italic;
    }

    a {
      color: $color-accent;
    }

    blockquote {
      padding-left: 20px;
      color: rgba($color-base, 0.7);
      border-left: solid 3px rgba($color-base, 0.1);
    }

    ul, ol {
      font-family: "Noto Serif";
      margin-bottom: 15px;
    }

    li {
      line-height: 26px;
      margin-bottom: 10px;
      margin-left: 30px;
      padding-left: 15px;
    }

    ul li {
      list-style: disc;
    }

    ol li {
      list-style: decimal;
    }

    img {
      display: block;
    }

    figure {
      margin: 0;
    }

    .kg-embed-card,
    .kg-image-card,
    .kg-gallery-card {
      margin: 30px 0;
      padding: 0;

      figcaption {
        margin-top: 10px;
        color: rgba($color-base, 0.4);
        font-size: 13px;
        text-align: center;
        line-height: 1.4em;
      }
    }

    .kg-image-card {
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
      }

      &.kg-width-wide {
        position: relative;
        width: 800px;
        min-width: 100%;
        margin: 20px calc(50% - 50vw);
        transform: translateX(calc(50vw - 50%));

        img {
          max-width: 100%;
        }
      }

      &.kg-width-full {
        position: relative;
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;

        img {
          width: 100%;
        }
      }
    } // .kg-image-card

    .kg-gallery-container {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 100%;
      width: 100vw;
    }

    .kg-gallery-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .kg-gallery-image img {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .kg-gallery-row:not(:first-of-type){
      margin: 0.75em 0 0 0;
    }

    .kg-gallery-image:not(:first-of-type){
      margin: 0 0 0 0.75em;
    }
  } // .postContent

  .meta {
    display: flex;
    font-size: 12px;
    justify-content: center;
    margin: 0 0 60px;

    a {
      color: $color-accent;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    li {
      margin-right: 10px;
      color: rgba($color-base, 0.3);

      &:last-child::before {
        content: "•";
        margin: 0 10px 0 5px;
      }
    }
  } // .meta
} // #single-entry

.pagination {
  font-size: 13px;
  text-align: right;
  color: rgba($color-base, 0.3);

  a {
    color: $color-accent;
    font-weight: 500;
    margin: auto 10px;
  }
}

footer {
  height: 120px;
}

.kg-bookmark-card {
    width: 100%;
    position: relative;
}

.kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    color: currentColor;
    font-family: inherit;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
    text-decoration: none;
}

.kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    padding: 20px;
    order: 1;
}

.kg-bookmark-title {
    font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
    margin-top: .5em;
}

.kg-bookmark-metadata {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kg-bookmark-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.kg-bookmark-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    margin-right: .5em;
    margin-bottom: .05em;
}

.kg-bookmark-thumbnail {
    display: flex;
    flex-basis: 24rem;
    flex-grow: 1;
}

.kg-bookmark-thumbnail img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

.kg-bookmark-author {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.kg-bookmark-publisher::before {
    content: "•";
    margin: 0 .5em;
}

body.page-o-mnie {
  header {
    h1 {
      width: 600px;
    }
  }

  #single-entry {
    &::before {
      display: none;
    }

    .postContent {
      .featureImage {
        margin-top: -130px;
      }
    }
  }
}